@import url('./window.css');
@import url('./wordpad.css');
@import url('./musicplayer.css');

.ui-windows-container {
    display: none;
}

.ui_icon.ui_icon__wordpad:hover:active > .icon-workspace, .ui_icon.ui_icon__wordpad:hover:active > .txt-icon-normal{
    background-color: blue;
    color: #fff;
}