.ui-window {
    font-family: 'Ms sans serif 8pt';
    font-size: 11px;
    left: 0;
    top: 0;

}
.window-button-pushed {
    transform: translate(1px, 1px);
}
.window-menubar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    height: 25px;
    max-height: 25px;
}
.window-menubar > div {
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
}
.window-inner {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 1;
    display: flex;
}
.ui-window.maximized {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.disabled {
    color: #737373;
}