.window.wordpad-app .window-icon {
    background-image: url('/images/icon-word-pad.svg');
}
.ui-window.ui_window_notepad-copy {
    min-width: 250px;
    min-height: 250px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    overflow: hidden;
    background: #bfbfbf;
    resize: both;
}
.wordpad {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
.wordpad-area {
    min-height: 1em;
    font-family: inherit;
    box-sizing: border-box;
    margin: 0 3px;
    width: calc(100% - 6px);
    flex: 1;
    border: 0;
    /* box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #808080, inset 2px 2px 0px #000000, inset -2px -2px 0px #808080; */
    box-shadow: inset -1px -1px 0px #FFFFFF, inset -2px -2px 0px #C0C0C0, inset 1px 1px 0px #808080, inset 2px 2px 0px #000000;
    padding: 10px;
    cursor: auto;
    resize: none;
    outline: none;
    overflow: auto;

}
.wordpad-area:focus {
    outline: none;
}
.wordpad-area::-webkit-scrollbar {
    background-color: rgba(191, 191, 191, 1);
    width: 16px;
}
.wordpad-area::-webkit-scrollbar-track {
    background-color: #d9d9d9;
}
.wordpad-area::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-clip: padding-box;
    border: 1px solid #d9d9d9;
    background: #BFBFBF;
    box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #FFFFFF, inset -2px -2px 0px #808080, inset 2px 2px 0px #DBDBDB;
}
.wordpad-bottom-bar {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2px 6px 2px 0px;
    color: #525252;
    text-shadow: 0px 1px 0px #FFFFFF;
    user-select: none;
}
/* menu */
.wordpad-menu {
    box-sizing: border-box;
    position: absolute;
    left: 2px;
    background: #bfbfbf;
    box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #FFFFFF, inset 2px 2px 0px #DBDBDB, inset -2px -2px 0px #808080;
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 160px;
    cursor: auto;
    z-index: 2;
}
.wordpad-menu hr {
    width: 165px;
    margin-left: -15px;
}

.wordpad-menu div {
    padding-left: 15px;
}

.wordpad-menu > div:not(.disabled):hover {
    background-color: #010080;
    color: #fff;
}
