.ui-window.transition_maximize {
    transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease;
}
.ui-window.maximized {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.ui-window.no-resize {
    resize: none !important;
}
.button-pushed {
    transform: translate(1px, 1px);
}
.head-ui-window, .title-window-header  {
    cursor: unset !important;
}

/* Buttons none select */
.ui_window__head__minimize, .ui_window__head__maximize, .ui_window__head__close {
    user-select: none;
}
/* Notepad */
.ui-window.ui_window_notepad {
    resize: both;
}
.ui_window_notepad textarea {
    min-height: 1em;
    font-family: 'Ms sans serif 8pt', sans-serif;
    box-sizing: border-box;
    margin: 0 3px;
    width: calc(100% - 6px);
    flex: 1;
    border: 0;
    padding: 8px;
    cursor: auto;
    resize: none;
    outline: none;
    overflow: auto;
    border: inset;
}

.ui_window_notepad textarea:focus {
    outline: none;
}
