.ui-window.transition_maximize {
    transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease;
}
.ui-window.maximized {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.ui-window.no-resize {
    resize: none !important;
}
.button-pushed {
    transform: translate(1px, 1px);
}
.head-ui-window, .title-window-header  {
    cursor: unset !important;
}

/* Notepad */
.ui-window.ui_window_notepad {
    resize: both;
}
.ui_window_notepad textarea {
    min-height: 1em;
    font-family: inherit;
    box-sizing: border-box;
    margin: 0 3px;
    width: calc(100% - 6px);
    flex: 1;
    border: 0;
    /* box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #808080, inset 2px 2px 0px #000000, inset -2px -2px 0px #808080; */
    box-shadow: inset -1px -1px 0px #FFFFFF, inset -2px -2px 0px #C0C0C0, inset 1px 1px 0px #808080, inset 2px 2px 0px #000000;
    padding: 10px;
    cursor: auto;
    resize: none;
    outline: none;
    overflow: auto;
}

.ui_window_notepad textarea:focus {
    outline: none;
}
.ui_window_notepad textarea::-webkit-scrollbar {
    background-color: rgba(191, 191, 191, 1);
    width: 16px;
}
.ui_window_notepad textarea::-webkit-scrollbar-track {
    background-color: #d9d9d9;
}
.ui_window_notepad textarea::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-clip: padding-box;
    border: 1px solid #d9d9d9;
    background: #BFBFBF;
    box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #FFFFFF, inset -2px -2px 0px #808080, inset 2px 2px 0px #DBDBDB;
}